.container {
  // display: flex;
  // flex-wrap: wrap;
  // display: -webkit-flex;
  justify-content: center;
}
/* x-small */

@media only screen and (max-width: 600px){
  .item {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 200px;
      background-color: #FF0000;
    }
}

/* default */
@media only screen and (min-width: 601px){
  .item {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      height: 200px;
      background-color: yellow;
    }
}
