/* x-small */
@media only screen and (max-width: 600px){
  .container {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
  }
  .item {
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 200px;
    background-color: #FF0000;
  }
}

/* default */
@media only screen and (min-width: 601px){
  .container {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
  }
  .item {
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 200px;
    background-color: yellow;
  }
}
