/* dispaly in center */
h1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
