/* base description of container */
.container {
  display:flex;
  height:100vh;
  justify-content:space-between;
  flex-wrap:wrap;
}

/* make .items flex */
.item{
  display:flex;
  flex: 0 1 50%;
  flex-direction:column;
}

/* make span more visable */
span{
  display:block;
  width:100px;
  height:100px;
  background-color: red;
}

/* pushes items to top corners */
.item:nth-child(3),
.item:last-child{
  align-self:flex-end;
}

 /* pushes items to bottom corners */
.item:nth-child(2) span,
.item:last-child span{
    align-self:flex-end;
}
